<?xml version="1.0"?>
<robot name="AMiRo">

  <material name="blue">
    <color rgba="0 0 .8 1"/>
  </material>

  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>

  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  
  <material name="grey">
    <color rgba="0.5 0.5 0.5 1"/>
  </material>
  
  <material name="red">
    <color rgba="1 0 0 1"/>
  </material>

  <material name="green">
    <color rgba="0.26 .77 .17 1"/>
  </material>

  <link name="base_link">
  </link>

  <link name="base">
    <visual>
      <geometry>
        <cylinder length="0.08" radius="0.05"/>
      </geometry>
      <material name="white"/>
    </visual>
  </link>

  <joint name="base_link_to_base" type="fixed">
    <parent link="base_link"/>
    <child link="base"/>
    <origin xyz="0 0 0.06"/>
  </joint>

  <link name="right_wheel">
    <visual>
      <geometry>
        <cylinder length="0.01" radius="0.03"/>
      </geometry>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <material name="black"/>
    </visual>
  </link>

  <joint name="base_to_right_wheel" type="fixed">
    <parent link="base_link"/>
    <child link="right_wheel"/>
    <origin xyz="0 -0.03 0.02"/>
  </joint>

  <link name="left_wheel">
    <visual>
      <geometry>
        <cylinder length="0.01" radius="0.03"/>
      </geometry>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <material name="black"/>
    </visual>
  </link>

  <joint name="base_to_left_wheel" type="fixed">
    <parent link="base_link"/>
    <child link="left_wheel"/>
    <origin xyz="0 0.03 0.02"/>
  </joint>
  
  <link name="rod">
    <visual>
      <geometry>
        <cylinder length="1.0" radius="0.01"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>
  
  <joint name="rod_link_to_base" type="fixed">
    <parent link="base_link"/>
    <child link="rod"/>
    <origin xyz="0 0 0.5"/>
  </joint>
  
  <link name="flag">
    <visual>
      <geometry>
        <box size=".15 .01 .1"/>
      </geometry>
      <material name="red"/>
    </visual>
  </link>

  <joint name="base_link_to_flag" type="fixed">
    <parent link="base_link"/>
    <child link="flag"/>
    <origin xyz="-.075 0 0.95" rpy="0 0 0"/>
  </joint>

</robot>
